#Build files
src-i386
src-x64
src/LakeMetabolizer.dll

# History files
.Rhistory
.Rapp.history
*.o
*.so

# Example code in package build process
*-Ex.R
.Rproj.user
LakeMetabolizer.Rproj
.DS_Store
inst/figdata